*{
    margin:0px;
    padding:0px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}

h1{
    font-size:3.125rem;
    font-weight: 700;
}

h2{
    font-size:1.625rem;
}

h3{
    font-size:1rem
}

section{
    background: black;
    border-bottom: 8px solid #222;
    padding-top: 50px;
    padding-bottom:50px;
}

section div.contenido{
    width: 1100px;
    margin:auto;
}

.restaurar{
    clear: both;
}

/*FONDO*/
html, body, .cover{
    height:100%;
}

.cover{
    background: url(../img/fondo.jpg);
}

/*Cabecera*/
section.cabecera{
    background:none;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}

nav{
    margin:0 3.5rem;
    padding-top: 26px;
}

div.logo{
    float:left;
}

div.login{
    float:right;
}

div.login:hover{
    cursor: pointer;
    background: blue;

}

div.login span{
    padding: 7px 17px;
    background: #e50914;
    border-radius: 4px;
}

.presentacion{
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentacion input{
    height:50px;
    width: 477px;
    margin-top: 8px;
    margin-bottom: 3px;
    border-radius: 2px 0px 0px 2px;
    border: solid 1px #5695e9;
    padding-left: 11px;
    color: #1c1c1c;
}

.presentacion span, .contPreguntas span{
    background: red;
    padding: 13px 15px;
    font-weight: 500;
    margin-left: -5px;
    padding-bottom: 15px;
    border: solid 1px #d30f18;
}

.presentacion span:hover, .contPreguntas span:hover{
    cursor: pointer;
    background: rgb(218, 9, 9);
}   

.izquierda{
    float: left;
}

.derecha{
    float: right;
}

.flotanteTexto{
    margin-top: 70px;
    width: 59%;
}

.flotanteImagen{
    width: 39%;
}

.contenido img{
    width: 100%;
    height: auto;
    border: 0;
    position: relative;
    z-index: 2;
}

.contenido h2{
    font-weight:bold;
    font-size: 40px;
}

.contenido p{
    font-size: 25px;
    font-weight: 200;
}

.tv video{
    position: absolute;
    transform: translate(-374px, 67px);
    width: 315px;
    z-index: 1;
}

.disfruta video{
    position: absolute;
    transform: translate(-359px, 35px);
    width: 274px;
    z-index: 1;
}

.tarjetaInt, .portada{
    display:flex;
    align-items: center;
}

.tarjetaInt{
    width: 50%;
    margin: auto;
    border: solid 2px #434343;
    padding:10px;
    border-radius: 7px;
    position: relative;
    z-index: 2;
    background: black;
}

.tarjeta{
    position: relative;
    transform: translate(-61px, -33px);
}

.preguntas h2{
    font-weight:bold;
    font-size: 40px;
    margin-bottom: 30px;
}

.contPreguntas{
    width: 700px;
    margin:auto;
    text-align: center;
}

.contPreguntas div{
    text-align: left;
    font-weight: 600;
    font-size: 20px;
}

.pregunta, .respuesta{
    background: #303030;
    margin-bottom: 5px;
    margin-top: 5px;

}

.pregunta p{
    padding: 20px;
    padding-left: 20px;
    font-weight: 600;
    cursor: pointer;
}

.respuesta p{
   
    padding-left: 20px;
    font-weight: 600;
}

.respuesta hr{
    border: solid 1px #262626;
}

.pregunta:hover .respuesta{
    max-height: 500px;
}

.respuesta{
    max-height: 0px;
    overflow: hidden;
    transition: all 1s;
}

.contPreguntas input{
    height:50px;
    width: 477px;
    margin-top: 8px;
    margin-bottom: 3px;
    border-radius: 2px 0px 0px 2px;
    border: solid 1px #5695e9;
    padding-left: 11px;
    color: #1c1c1c;
}

.contPreguntas h3{
    margin-top: 50px;
    font-size: 14px;
    font-weight: 600;
}

.pieContenido{
    margin: auto;
    justify-content: center;
    display:flex;
}

.pieContenido div{   
    padding: 35px;
    display: inline-block;
    font-size: 12px;
    line-height: 3;
    
}

.pieContenido p{
    color: #757575;
}

